#Домашнє завдання до теми "Синтаксис Python"

В ДЗ першого модулю важливою умовою виконання завдань є те, що ми не імпортуємо жодних бібліотек, а робимо все на чистому Python, використовуючи лише базовий функціонал. Це необхідно аби відпрацювати роботу з базовими типами даних. А використовувати бібліотеки ми ще навчимось далі :)

1. Створіть змінну, яка буде зберігати кількість яблук. І надайте їй значення 5. Виведіть значення змінної на екран.

In [1]:
apple_num = 5
apple_num

5

2. Виведіть тип змінної, створеної в завданні (1).

In [2]:
type(apple_num)

int

3. Додайте до значення змінної, створеної в завданні (1) число `12` і виведіть результат на екран з допомогою команди `print()`.

In [3]:
apple_num = apple_num + 12
print(apple_num)

17

4. Запустіть код нижче аби створити дві змінні.

In [4]:
a = 48
b = 3

In [6]:
a, b, c

(48, 3, 16.0)

In [5]:
c = a/b

Створіть нову клітинку нижче цієї з допомогою натискання англійської літери `B`, коли ви НЕ в режимі редагування клітинки. В створеній клітинці створіть змінну `c`, яка буде містити результат ділення `a` на `b`.

Створіть ще одну нову клітинку, тільки тепер вище цієї. Для цього натисніть  англійську літеру `A`, коли ви НЕ в режимі редагування клітинки. Виведіть в новоствореній клітинці значення і тип кожної зі змінних `a`, `b`, `c`. Проаналізуйте результат.

У Python, коли ви ділите одне ціле число на інше, результат буде автоматично приведений до типу float, якщо він не є цілим числом. Це робиться для того, щоб забезпечити більш точний результат ділення, особливо коли результат міг би бути десятковим числом.

5. Перегляньте наступний код, подумайте, що він виведе в результаті, та потім, запустіть його.

In [7]:
a = 10
a = 12
a = 15

b = 4
b = 8
b = 14

c = 3
c = 6
c = 9


a + b + c

38

В клітинці нижче закоментуйте деякі рядки так, аби в результаті виконання останнього рядка коду (`a + b + c`) вивелось `17`.
Увага! Рядки треба саме закоментувати, а не видалити.
Можна зручно коментувати рядки з допомогою комбінації клавіш `Ctrl + /` (`Command + /` для Mac)

In [8]:
a = 10
# a = 12
# a = 15

b = 4
# b = 8
# b = 14

c = 3
# c = 6
# c = 9


a + b + c

17