#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Data/supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [4]:
df.groupby("Branch")["gross income"].sum().sort_values(ascending=False)

Branch
C    5265.1765
A    5057.1605
B    5057.0320
Name: gross income, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [7]:
city = (df.groupby(["Branch", "City"]).agg(profit=("gross income", "sum")).sort_values("profit", ascending=False))
city

                     profit
Branch City
C      Naypyitaw  5265.1765
A      Yangon     5057.1605
B      Mandalay   5057.0320

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [8]:
invoices_by_category = pd.pivot_table(df, index="Branch", columns="Product line", values="Invoice ID", aggfunc="count")
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [9]:
invoices_by_category["Electronic accessories"].idxmax()

'A'

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

1. –ß–∏ —î —Ä—ñ–∑–Ω–∏—Ü—è —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ —á–µ–∫—É –ø–æ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ —Å—Ç–∞—Ç—ñ?

In [10]:
avg_spending_by_gender = (df.groupby(["Gender", "Product line"])["Total"].mean().sort_values(ascending=False))

avg_spending_by_gender

Gender  Product line
Female  Home and lifestyle        380.213639
        Food and beverages        368.565750
Male    Health and beauty         348.099460
        Sports and travel         340.360327
Female  Sports and travel         324.712739
        Electronic accessories    322.643125
        Fashion accessories       317.056250
Male    Electronic accessories    316.691965
        Home and lifestyle        294.136241
        Fashion accessories       291.079207
Female  Health and beauty         290.015414
Male    Food and beverages        273.499125
Name: Total, dtype: float64

–ñ—ñ–Ω–∫–∏ –º–∞—é—Ç—å –≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —É –±—ñ–ª—å—à–æ—Å—Ç—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π

–û—Å–æ–±–ª–∏–≤–æ —É:
Home and lifestyle
Food and beverages

–ß–æ–ª–æ–≤—ñ–∫–∏ –±—ñ–ª—å—à–µ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –Ω–∞:
Health and beauty
Sports and travel

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:
–†–æ–±–∏—Ç–∏ –Ω–∞–±–æ—Ä–∏ –¥–ª—è —Ç–æ–≤–∞—Ä—ñ–≤ –∑ –≤–∏—Å–æ–∫–∏–º –ø–æ–ø–∏—Ç–æ–º, —â–æ–± –∑–±—ñ–ª—å—à–∏—Ç–∏ —ó—Ö –ø—Ä–æ–¥–∞–∂
–ó–∞–ø—É—Å–∫–∞—Ç–∏ –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ —Å–∞–º–µ –≤ —Ü–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö

2. –ß–∏ –≤–ø–ª–∏–≤–∞—î —Ç–∏–ø –∫–ª—ñ—î–Ω—Ç–∞ (Member / Normal) –Ω–∞ –ø—Ä–∏–±—É—Ç–æ–∫ –º–∞–≥–∞–∑–∏–Ω—É?

In [11]:
member_analysis = (df.groupby("Customer type")["Total"].agg(["count", "mean", "sum"]).sort_values("sum", ascending=False))

member_analysis

               count        mean         sum
Customer type
Member           501  327.791305  164223.444
Normal           499  318.122856  158743.305

Members –∑–¥—ñ–π—Å–Ω—é—é—Ç—å —Ç—Ä–æ—Ö–∏ –±—ñ–ª—å—à–µ –ø–æ–∫—É–ø–æ–∫, –º–∞—é—Ç—å –≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ —Ç–∞ –±—ñ–ª—å—à–∏–π —Å—É–º–∞—Ä–Ω–∏–π –≤–∏—Ç–æ—Ä–≥

–£—á–∞—Å–Ω–∏–∫–∏ –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –ø—Ä–∏–Ω–æ—Å—è—Ç—å –±—ñ–ª—å—à–µ –¥–æ—Ö–æ–¥—É.

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó: —Ä–æ–∑–≤–∏–≤–∞—Ç–∏ –ø—Ä–æ–≥—Ä–∞–º—É –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ —Ç–∞ –∑–∞–ª—É—á–∞—Ç–∏ –¥–æ –Ω–µ—ó —ñ–Ω—à–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤ (–Ω-–¥: –±–æ–Ω—É—Å –∑–∞ –ø–µ—Ä—à—É –ø–æ–∫—É–ø–∫—É, –∑–Ω–∏–∂–∫–∞ —ñ —Ç.–¥.). –¢–∞–∫–æ–∂ —Ä–æ–∑–≤–∏–≤–∞—Ç–∏ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó –≤–∂–µ –¥–ª—è —É—á–∞—Å–Ω–∏–∫—ñ–≤ –ø—Ä–æ–≥—Ä–∞–º–∏: –ø–µ—Ä—Å–æ–Ω–∞–ª—å–Ω—ñ –∑–Ω–∏–∂–∫–∏ —Ç–∞ –±–æ–Ω—É—Å–∏ —Ç–∞–∫–æ–∂.

3. –£ —è–∫—ñ –≥–æ–¥–∏–Ω–∏ —è–∫—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ –ø—Ä–∏–Ω–æ—Å—è—Ç—å –Ω–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫?

In [13]:
time = '13:00'
def get_hour(time):
    return int(time[:2])
df['Hour'] = df['Time'].apply(lambda x: get_hour(x))
pivot_profit = pd.pivot_table(df, index="Hour", columns="Product line", values="gross income", aggfunc="sum")

pivot_profit

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Hour,,,,,,
10,200.8460,290.6020,230.6590,238.9555,289.7490,245.4495
11,283.3420,208.0240,305.5575,157.4100,300.1585,192.0475
12,163.9545,235.7610,205.2810,207.3955,173.4145,255.4260
13,184.6250,386.1615,178.4690,279.4605,296.2850,328.4860
14,271.1225,225.9605,203.0125,353.8950,135.4145,278.6140
15,274.1240,164.6030,353.2475,163.9650,295.2005,233.5985
16,165.0605,264.0665,217.2660,134.5165,174.8305,245.5135
17,195.8055,196.1105,67.6830,184.3980,336.8435,183.2175
18,307.0085,212.4755,199.9305,186.1835,161.1515,172.7905
19,275.1025,292.2455,380.0705,255.4960,262.8600,424.6785
20,266.5105,109.9850,332.3875,180.8835,138.9455,65.0750

–û–±—ñ–¥–Ω—ñ –≥–æ–¥–∏–Ω–∏ - –ø—Ä–æ–¥–∞–∂—ñ —ó–∂—ñ —Ç–∞ —Ç–æ–≤–∞—Ä—ñ–≤ –¥–ª—è –¥–æ–º—É.
–í–µ—á—ñ—Ä (–æ—Å–æ–±–ª–∏–≤–æ 19:00) - –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π –ø–µ—Ä—ñ–æ–¥, —ñ–∑ —Ñ–æ–∫—É—Å–æ–º –Ω–∞ —Å–ø–æ—Ä—Ç, –µ–ª–µ–∫—Ç—Ä–æ–Ω—ñ–∫—É —Ç–∞ –∞–∫—Å–µ—Å—É–∞—Ä–∏.

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:
–í–≤–µ—á–µ—Ä—ñ –ø—Ä–æ—Å—É–≤–∞—Ç–∏ —Ç–æ–≤–∞—Ä–∏, —â–æ –ø–æ–≤'—è–∑–∞–Ω—ñ –∑ –µ–ª–µ–∫—Ç—Ä–æ–Ω—ñ–∫–æ—é —Ç–∞ —Å–ø–æ—Ä—Ç–æ–º. –¢–∞–∫–æ–∂ –≤–∞—Ä—Ç–æ –ø–æ —ñ–Ω—à–∏–º –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º –∑—Ä–æ–±–∏—Ç–∏ –∞–∫—Ü—ñ—ó, –Ω–∞–±–æ—Ä–∏, –¥–æ–¥–∞—Ç–∫–æ–≤—ñ –±–æ–Ω—É—Å–∏ –∑–∞ –ø–æ–∫—É–ø–∫–∏.
–í –æ–±—ñ–¥ –±—ñ–ª—å—à–µ –ø—Ä–∏–±—É—Ç–∫—É –ø—Ä–∏–Ω–æ—Å–∏—Ç—å —ó–∂–∞, —Ç–æ–º—É —Ç—É—Ç –º–æ–∂–µ–º–æ —Ä–æ–±–∏—Ç–∏ –Ω–∞–±–æ—Ä–∏ (–∫–æ–º–ø–ª–µ–∫—Å–Ω—ñ –æ–±—ñ–¥–∏), –¥–æ–¥–∞—Ç–∫–æ–≤—ñ –∞–∫—Ü—ñ—ó –Ω–∞ —ó–∂—É —Ç–∞ –∑–Ω–∏–∂–∫–∏.

–¢–∞–∫–æ–∂ –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ —á–∞—Å—É –º–æ–∂–µ–º–æ —Ä–æ–±–∏—Ç–∏ —Ç—ñ —á–∏ —ñ–Ω—à—ñ –≤–∏–∫–ª–∞–¥–∫–∏ —Ç–æ–≤–∞—Ä—É, –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ –ø—Ä–æ–¥–∞–∂—ñ–≤ —Ç–∞ —Ç–∞—Ä–≥–µ—Ç–æ–≤–∞–Ω—É —Ä–µ–∫–ª–∞–º—É –ø–æ —á–∞—Å—É.